.Al_Ghad_Al_Moshreq_is_one_of_the_most_viewed_an {
    font-size: 22px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    line-height: 1.232;
    text-align: center;
    position: absolute;
    left: 462.021px;
    top: 65.634px;
    width: 977px;
    height: 102px;
    z-index: 91;
}
.Rectangle_18 {
background-color: rgb(10, 73, 121);
position: absolute;
left: -27px;
top: 216px;
width: 1975px;
height: 885px;
z-index: 88;
}
.logo {
position: absolute;
left: 850.032px;
top: -128.688px;
width: 215px;
height: 207px;
}
.lab {
position: absolute;
left: 400.032px;
top: 280.568px;
width: 1000px;
height: 635px;
}
.mob {
position: absolute;
left: 1170.032px;
top: 500.568px;
}
.Blue {
    font-size: 18px;
    font-family: "Lato";
    color: rgb(17, 68, 151);
    line-height: 2.404;
    position: absolute;
    left: 1327.844px;
    top: 1555.364px;
    z-index: 85;
}
._114497 {
font-size: 18px;
font-family: "Lato";
color: rgb(17, 68, 151);
line-height: 2.404;
position: absolute;
left: 1290.844px;
top: 1515.364px;
z-index: 84;
}
.Shape_1_copy_2 {
background-color: rgb(17, 68, 151);
position: absolute;
left: 1050px;
top: 1573px;
width: 313px;
height: 1px;
z-index: 83;
}
.Ellipse_1_copy_4 {
border-radius: 50%;
background-color: rgb(17, 68, 151);
position: absolute;
left: 1000px;
top: 1526px;
width: 95px;
height: 95px;
z-index: 82;
}
.Ellipse_1_copy_4_2 {
border-radius: 50%;
background-color: rgb(17, 68, 151);
opacity: 0.6;
position: absolute;
left: 979px;
top: 1504px;
width: 138px;
height: 138px;
z-index: 81;
}
.Ellipse_1_copy_4_3 {
border-radius: 50%;
background-color: rgb(17, 68, 151);
opacity: 0.6;
position: absolute;
left: 990px;
top: 1516px;
width: 115px;
height: 115px;
z-index: 80;
}
.Space_Blue {
font-size: 18px;
font-family: "Lato";
color: rgb(10, 73, 121);
line-height: 2.404;
position: absolute;
left: 1277.096px;
top: 1754.364px;
z-index: 79;
}
._0a4979 {
font-size: 18px;
font-family: "Lato";
color: rgb(10, 73, 121);
line-height: 2.404;
position: absolute;
left: 1291.844px;
top: 1714.364px;
z-index: 78;
}
.Shape_1_copy {
background-color: rgb(10, 73, 121);
position: absolute;
left: 1050px;
top: 1772px;
width: 313px;
height: 1px;
z-index: 77;
}
.Ellipse_1_copy_3 {
border-radius: 50%;
background-color: rgb(10, 73, 121);
position: absolute;
left: 1002px;
top: 1725px;
width: 95px;
height: 95px;
z-index: 76;
}
.Ellipse_1_copy_3_2 {
border-radius: 50%;
background-color: rgb(10, 73, 121);
opacity: 0.6;
position: absolute;
left: 981px;
top: 1703px;
width: 138px;
height: 138px;
z-index: 75;
}
.Ellipse_1_copy_3_3 {
border-radius: 50%;
background-color: rgb(10, 73, 121);
opacity: 0.6;
position: absolute;
left: 992px;
top: 1715px;
width: 115px;
height: 115px;
z-index: 74;
}
.Gray {
font-size: 18px;
font-family: "Lato";
color: rgb(202, 202, 202);
line-height: 2.404;
position: absolute;
left: 413.844px;
top: 1555.364px;
z-index: 73;
}
._d9d9d9 {
font-size: 18px;
font-family: "Lato";
color: rgb(202, 202, 202);
line-height: 2.404;
position: absolute;
left: 414.844px;
top: 1515.364px;
z-index: 72;
}
.Shape_1_copy_3 {
background-color: rgb(217, 217, 217);
position: absolute;
left: 415px;
top: 1573px;
width: 312px;
height: 1px;
z-index: 71;
}
.Ellipse_1_copy_5 {
border-radius: 50%;
background-color: rgb(217, 217, 217);
position: absolute;
left: 679px;
top: 1526px;
width: 95px;
height: 95px;
z-index: 70;
}
.Ellipse_1_copy_5_2 {
border-radius: 50%;
background-color: rgb(217, 217, 217);
opacity: 0.6;
position: absolute;
left: 658px;
top: 1504px;
width: 138px;
height: 138px;
z-index: 69;
}
.Ellipse_1_copy_5_3 {
border-radius: 50%;
background-color: rgb(217, 217, 217);
opacity: 0.6;
position: absolute;
left: 669px;
top: 1516px;
width: 115px;
height: 115px;
z-index: 68;
}
.Light_Gray {
font-size: 18px;
font-family: "Lato";
color: rgb(211, 216, 223);
line-height: 2.404;
position: absolute;
left: 413.844px;
top: 1754.364px;
z-index: 67;
}
._e3e8f0 {
font-size: 18px;
font-family: "Lato";
color: rgb(211, 216, 223);
line-height: 2.404;
position: absolute;
left: 414.844px;
top: 1714.364px;
z-index: 66;
}
.Shape_1 {
background-color: rgb(227, 232, 240);
position: absolute;
left: 415px;
top: 1772px;
width: 312px;
height: 1px;
z-index: 65;
}
.Ellipse_1 {
border-radius: 50%;
background-color: rgb(227, 232, 240);
position: absolute;
left: 679px;
top: 1725px;
width: 95px;
height: 95px;
z-index: 64;
}
.Ellipse_1_copy_2 {
border-radius: 50%;
background-color: rgb(227, 232, 240);
opacity: 0.6;
position: absolute;
left: 658px;
top: 1703px;
width: 138px;
height: 138px;
z-index: 63;
}
.Ellipse_1_copy {
border-radius: 50%;
background-color: rgb(227, 232, 240);
opacity: 0.6;
position: absolute;
left: 669px;
top: 1715px;
width: 115px;
height: 115px;
z-index: 62;
}
.Rounded_Rectangle_6 {
border-radius: 4px;
background-color: rgb(217, 217, 217);
position: absolute;
left: 807px;
top: 1396px;
width: 133px;
height: 8px;
z-index: 61;
}
.Colours {
font-size: 48px;
font-family: "Lato";
color: rgb(10, 73, 121);
font-weight: bold;
line-height: 0.902;
-moz-transform: matrix( 1.00262137780329,0,0,1.00245470485096,0,0);
-webkit-transform: matrix( 1.00262137780329,0,0,1.00245470485096,0,0);
-ms-transform: matrix( 1.00262137780329,0,0,1.00245470485096,0,0);
position: absolute;
left: 812.257px;
top: 1283.852px;
z-index: 60;
}
.Rounded_Rectangle_6_copy {
    border-radius: 3px;
    background-color: rgb(19, 75, 166);
    position: absolute;
    left: 820px;
    top: 2131px;
    width: 133px;
    height: 8px;
    z-index: 57;
}
.Rectangle_19 {
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
    position: absolute;
    left: -55px;
    top: 3559px;
    width: 2000px;
    height: 497px;
    z-index: 55;
}
.Homepage {
    font-size: 48px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 0.902;
    -moz-transform: matrix( 1.00125253814643,0,0,1.00249199003203,0,0);
    -webkit-transform: matrix( 1.00125253814643,0,0,1.00249199003203,0,0);
    -ms-transform: matrix( 1.00125253814643,0,0,1.00249199003203,0,0);
    position: absolute;
    left: 846.498px;
    top: 85.955px;
    z-index: 52;
}
.Rectangle_18_copy {
    background-color: rgb(17, 68, 151);
    position: absolute;
    left: -27px;
    top: 1935px;
    width: 1975px;
    height: 614px;
    z-index: 51;
}
.Homepageimg {
position: absolute;
top: 252px;
left: 200px;  

}
.Programme_Page {
font-size: 36px;
font-family: "Lato";
color: rgb(11, 73, 122);
font-weight: bold;
line-height: 1.205;
-moz-transform: matrix( 1.00113975848653,0,0,1.00245470485099,0,0);
-webkit-transform: matrix( 1.00113975848653,0,0,1.00245470485099,0,0);
-ms-transform: matrix( 1.00113975848653,0,0,1.00245470485099,0,0);
position: absolute;
left: 828.789px;
top: 10050.04px;
z-index: 47;
}
.Rectangle_20_copy {
background-color: rgb(255, 255, 255);
position: absolute;
left: 250px;
top: 9882px;
width: 1440px;
height: 200px;
z-index: 46;
}
.Rectangle_20 {
background-color: rgb(255, 255, 255);
position: absolute;
left: 250px;
top: 9982px;
width: 1440px;
height: 200px;
z-index: 46;
}
.Rounded_Rectangle_6_copy_2 {
border-radius: 4px;
background-color: rgb(217, 217, 217);
position: absolute;
left: 808px;
top: 8374px;
width: 133px;
height: 8px;
z-index: 44;
}
.Live_Stream {
font-size: 36px;
font-family: "Lato";
color: rgb(11, 73, 122);
font-weight: bold;
line-height: 1.205;
-moz-transform: matrix( 1.00113975848653,0,0,1.00245470485099,0,0);
-webkit-transform: matrix( 1.00113975848653,0,0,1.00245470485099,0,0);
-ms-transform: matrix( 1.00113975848653,0,0,1.00245470485099,0,0);
position: absolute;
left: 870.98px;
top: 8444.363px;
z-index: 43;
}
.Internal_Pages {
font-size: 48px;
font-family: "Lato";
color: rgb(11, 73, 122);
font-weight: bold;
line-height: 0.902;
-moz-transform: matrix( 1.00113975848653,0,0,1.00245470485099,0,0);
-webkit-transform: matrix( 1.00113975848653,0,0,1.00245470485099,0,0);
-ms-transform: matrix( 1.00113975848653,0,0,1.00245470485099,0,0);
position: absolute;
left: 817.242px;
top: 8265.51px;
z-index: 42;
}
.Live {
position: absolute;
left: 170px;
top: 8500.363px;
}
.prog_page {
position: absolute;
left: 170px;
top: 10050.363px;
}
.Rounded_Rectangle_6_copy_3 {
border-radius: 4px;
background-color: rgb(217, 217, 217);
position: absolute;
left: 808px;
top: 12712px;
width: 133px;
height: 8px;
z-index: 38;
}
.Mobile_Layout {
font-size: 48px;
font-family: "Lato";
color: rgb(11, 73, 122);
font-weight: bold;
line-height: 0.902;
-moz-transform: matrix( 1.0020781131854,0,0,1.00245470485099,0,0);
-webkit-transform: matrix( 1.0020781131854,0,0,1.00245470485099,0,0);
-ms-transform: matrix( 1.0020781131854,0,0,1.00245470485099,0,0);
position: absolute;
left: 816.147px;
top: 12602.972px;
z-index: 37;
}
.layer_8 {
    position: absolute;
    left: 1000px;

 }
.screen_12 {
position: absolute;
left: 500px;
}
.screen_13 {
position: absolute;
left: 220px;
top: 12790px;
}
.Rectangle_18_copy_2 {
background-color: rgb(0, 0, 0);
position: absolute;
left: 240px;
top: 13836px;
width: 469px;
height: 468px;
z-index: 30;
}
.dotemirates{
position: absolute;
left: 180px;
top: 13776px;
width: 585px;
height: 580px;
z-index: 30;    
}
.VSOC {
border-style: solid;
border-width: 1px;
border-color: rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
opacity: 0.07;
position: absolute;
left: 723px;
top: 13834px;
width: 471px;
height: 470px;
z-index: 28;
}
.VectorSOC {
background-color: rgb(255, 255, 255);
position: absolute;
left: 873px;
top: 13929px;
width: 200px;
height: 200px;
z-index: 28;
}

.Noon {
border-style: solid;
border-width: 1px;
border-color: rgb(255, 255, 255);
background-color: rgb(255, 255, 255);
position: absolute;
left: 1208px;
top: 13834px;
width: 471px;
height: 470px;
z-index: 26;
}
.Rounded_Rectangle_6_copy_4 {
border-radius: 4px;
background-color: rgb(217, 217, 217);
position: absolute;
left: 834px;
top: 13800px;
width: 133px;
height: 8px;
z-index: 25;
}
.More_Work {
font-size: 48px;
font-family: "Lato";
color: rgb(11, 73, 122);
font-weight: bold;
line-height: 0.902;
-moz-transform: matrix( 1.00194027590062,0,0,1.00245470485099,0,0);
-webkit-transform: matrix( 1.00194027590062,0,0,1.00245470485099,0,0);
-ms-transform: matrix( 1.00194027590062,0,0,1.00245470485099,0,0);
position: absolute;
left: 846.741px;
top: 13687.852px;
z-index: 24;
}
