
body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
}

body {
    background-color: #f6f5f5
}

h2{
    font-weight: 900;
    font-size: 28pt;
    padding-top:200px;
    padding-bottom:200px;
    color:#846a29;  
}
header {
    width : 100vw;
    height : 63vw;
    background-image: url("images/Azharheaderback.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    
}
.logo {
    top:10%;
    left: 44%;
    position: absolute;
    height:40%;
    width: 12%;
}

.overview {
    background-color: #97865c;
    background-image: url("images/stars.png");
    padding-bottom: 10.5%; 
}
#overview-text {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10.5%;
    padding-bottom:10.5%;
    font-size: 17pt;
    text-align: center;
    color: white;
    line-height: 150%;
    word-spacing: 10px
}
#overview-images {
    width: 100%;
    position: relative;
    padding-bottom:150px; 
    height:41.5%;
}
#overview-image2 {
    position: absolute;
    right:7%;
    bottom:13%;
}

.horizontal li {
    float: left;
}
.colors {
    width:40vw;
    height:4vw;
}
.color {
    width:10vw;
    height:4vw;
}

.color-text {
    padding-top:1vw;
    padding-left:1vw;
}

#desktop-snap {
    position: absolute;
    top:35%;
    background:linear-gradient(rgba(0,0,0,0),#f6f5f5,#f6f5f5,#f6f5f5,rgba(0,0,0,0));
    height:1000px;
}

#desktop-snap img {
    padding-top: 205px;
    padding-left:5%;
}

.layout {
    padding-bottom: 200px;
    position: relative;
}