ul {
 list-style-type: none; /* no default bullets */
margin-left: -16px;
margin-top: 20px;
padding: 0;

}
li {
  font-family: Arial;
  display: inline;
  margin: 10px;
  font-size: 18px;
}
 li:before {
   background-color: gray;
   border-radius: 50%;
   content: "";
   display: inline-block;
    height: 10px;
   width: 10px;
 }
