.feature .glyphicon
{
    font-size: 50px;
    margin-top: 40px;
    color: black;
/*    font-family: 'Eczar', serif;*/

  text-shadow: 4px 4px 4px #aaa;
letter-spacing: 3px;
}

.feature
{
    background: #fff;
    margin-top: 70px;
}


.manger
{
   margin-top: 40px;
    
}
.next
{
    margin-bottom: 20px;
}

.manger a
{
    color: white;
}